# Lokal via Docker: postgresql://postgres:postgres@localhost:5432/elmo-news
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/elmo-news"
NUXT_SESSION_PASSWORD="min-32-zeichen-langes-zufaelliges-secret!!"
